<form class="relative w-full" hx-patch="/update_account/{{account.id}}" hx-target="#account-{{account.id}}" hx-swap="outerHTML">
    <div class="w-[80%]">
         <div class="form-group flex flex-row">
            <label for="csv-columns" class="w-40">Account Name</label>
            <input type="text" class="form-control w-[70%]" id="account-name" name="name" value="{{account.name}}">
        </div>
         <div class="form-group flex flex-row">
            <label for="csv-columns" class="w-40">Account Number</label>
            <input type="text" class="form-control w-[70%]" id="account-number" name="account_number" placeholder="Account Number" value="{{account.account_number}}">
        </div>
         <div class="form-group flex flex-row">
            <label for="csv-columns" class="w-40">CSV Seperator</label>
            <input type="text" class="form-control" id="csv-seperator" name="csv_seperator" placeholder="CSV seperator" value="{{account.csv_seperator}}">
        </div>
                <div class="form-group flex flex-row">
            <label for="csv-columns" class="w-40">CSV Columns</label>
            <input type="text" class="form-control w-[70%]" id="csv-columns" name="csv_columns" placeholder="date;description;amount;..." value="{{account.csv_columns}}">
        </div>
        <div class="form-group mt-8">
            <label for="csv-file">CSV File</label>
            <input type="file" class="form-control" id="csv-file" name="csv_file" placeholder="CSV file" value="">
        </div>
    </div>
        <button type="submit" class="btn btn-primary absolute top-0 right-0 underline hover:no-underline">Save</button>
</form>
<div class="flex flex-row mt-8 border-2 border-black rounded-xl text-sm h-full">
    <ul class="w-60 h-full flex flex-col p-4">
        <li class="p-2 hover:cursor-move" draggable="true">
            <span>
                toDate (d.m.y)
            </span>
        </li>
        <li class="p-2 hover:cursor-move" draggable="true">
            <span>
                constant
            </span>
        </li>
        <li class="p-2 hover:cursor-move" draggable="true">
            <span>
                string concat
            </span>
        </li>

    </ul>
    <div id="drawflow" class="w-full h-full border-l-2 border-black">
    </div>
</div>

<script>

    set_output_columns({{conversion_format | safe }});
    load_editor_state();
</script>
