<div class="w-full max-h-[90%] overflow-auto">
    <table class="w-full table-fixed text-sm border-collapse">
        <thead class="sticky top-0 bg-white z-10">
                    <tr>
                <th class="w-[16%]"></th>
                <th class="w-[16%]"></th>
                <th class="w-[33%]"></th>
                <th class="w-[16%]"></th>
                <th id="calc" class="border border-black p-1">= 100</th>
                <th class=""></th>
            </tr>
            <tr>
                <th class="w-[16%] border border-black p-1">Booking Date</th>
                <th class="w-[16%] border border-black p-1">Value Date</th>
                <th class="w-[33%] border border-black p-1">Augmented Description</th>
                <th class="w-[16%] border border-black p-1">Categories</th>
                <th class="border border-black p-1">Amount</th>
                <th class="border border-black p-1">Currency</th>
            </tr>
        </thead>
{% include 'pages/transaction_history/partials/table_body.html' %}
    </table>
</div>
<script>
    function calculateAmount () {
        const amount = document.querySelectorAll('.amount');
        let sum = 0;
        amount.forEach((el) => {
            console.log(el.textContent);
            sum += parseFloat(el.textContent);
        });
        sum = Math.round((sum + Number.EPSILON) * 100) / 100;
        document.getElementById('calc').textContent = `= ${sum}`;
    }
    document.body.addEventListener('htmx:afterSwap', function(event) {
        if(event.detail.target.id === 'transaction-table-body') {
            calculateAmount();
        }
    });
    document.addEventListener('DOMContentLoaded', (event) => {
        calculateAmount();
    });
    calculateAmount();

</script>
