<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ metadata.title }}
    </title>
    <meta name="description" content="{{ metadata.description }}">
    <meta name="keywords" content="{{ metadata.keywords }}">
    <meta name="author" content="{{ metadata.author }}">

    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css">
    <script src="https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"></script>
    <script src="/static/js/csv_load_graph.js"></script>

    <style>
        @font-face {
        font-family: 'EuropaGroteskSH';
        src: url('/static/fonts/EuropaGroteskSH-Med.otf') format('opentype');
        font-weight: 200;
        font-style: normal;
        }
        tr.htmx-swapping td {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
</head>
<body class="font-sans bg-white h-screen overflow-hidden">
    <div class="flex flex-col h-full">
        <header class="z-50 flex-shrink-0 flex justify-between items-center px-4">
            <div>
                {% include 'layout/title.html' %}
            </div>
            <nav>
                {% include 'layout/navbar.html' %}
            </nav>
        </header>
        <hr class="w-full py-[1px] bg-black"/>
        <main id="content" class="flex-1 overflow-auto text-xl text-justify p-8">
            {% include main_content_template %}
        </main>
    </div>
</body>
</html>